# Ignore version control
.git
.gitignore

# Ignore sensitive environment variables
.env

# Ignore markdown files and subject documentation
*.md

# Ignore the host data folders (crucial if they are stored near your project)
**/data/

# Ignore macOS system files (just in case an evaluator uses a Mac)
.DS_Store